
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <meta name="keywords" content="Genius,Ocean,Sea,Etc,Genius,Ocean,SeaGenius,Ocean,Sea,Etc,Genius,Ocean,SeaGenius,Ocean,Sea,Etc,Genius,Ocean,Sea">
        <meta name="author" content="GeniusOcean">
        <title>Investment</title>

    <link rel="stylesheet" href="https://golivest.site/assets/front/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/animate.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/all.min.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/lightbox.min.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/odometer.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/owl.min.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/main.css" />
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/toastr.min.css">
    <link rel="stylesheet" href="https://golivest.site/assets/front/css/styles.php?color=d5a953">
            <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    
            <link rel="stylesheet" id="colorr" href="https://golivest.site/assets/front/css/font.php?font_familly=Manrope">
    
    <link rel="shortcut icon" href="https://golivest.site/assets/images/Yo7c3v0R1650180806.png">
    

    	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
				dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '&lt;script async src=&quot;https://www.googletagmanager.com/gtag/js?id=UA-137437974-1&quot;&gt;&lt;/script&gt;  &lt;script&gt;    window.dataLayer = window.dataLayer || [];    function gtag(){dataLayer.push(arguments);}    gtag(&#039;js&#039;, new Date());    gtag(&#039;config&#039;, &#039;UA-137437974-1&#039;);  &lt;/script&gt;');
	</script>
	</head>

<body>
    <!-- Overlayer -->
    <span class="toTopBtn">
        <i class="fas fa-angle-up"></i>
    </span>
    <div class="overlayer"></div>
    <div class="loader"></div>
    <!-- Overlayer -->

    <!-- Header -->
    <header class="bg--gradient">
        <div class="navbar-top">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-evenly justify-content-md-between">
            <div class="d-flex flex-wrap align-items-center">
                <ul class="social-icons py-1 py-md-0 me-md-auto">
                                                                        <li>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                                                                                                <li>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            </li>
                                                                                                <li>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                                                            </ul>
                <div class="change-language d-md-none">
                    <select name="currency" class="currency selectors nice language-bar">
                                                    <option value="https://golivest.site/currency/1" selected>
                                USD
                            </option>
                                                    <option value="https://golivest.site/currency/4" >
                                BDT
                            </option>
                                                    <option value="https://golivest.site/currency/6" >
                                EUR
                            </option>
                                                    <option value="https://golivest.site/currency/8" >
                                NGN
                            </option>
                                                    <option value="https://golivest.site/currency/9" >
                                INR
                            </option>
                                            </select>
                </div>
            </div>
            <ul class="contact-bar py-1 py-md-0">
                <li>
                    <a href="Tel:.">.</a>
                </li>
                <li>
                    <a href="Mailto:support@golivest.site">support@golivest.site</a>
                </li>
                <li>
                    <div class="change-language d-none d-sm-block">
                        <select name="language" class="language selectors nice language-bar">
                                                            <option value="https://golivest.site/language/1" selected >
                                    EN
                                </option>
                                                            <option value="https://golivest.site/language/16"  >
                                    BN
                                </option>
                                                            <option value="https://golivest.site/language/17"  >
                                    Hindi
                                </option>
                                                    </select>
                    </div>
                </li>
                <li>
                    <div class="mode--toggle d-none d-sm-block">
                        <i class="fas fa-moon"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>        <div class="navbar-bottom">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="logo me-auto">
                <a href="https://golivest.site">
                    <img src="https://golivest.site/assets/images/oJRC5aoJ1717391832.png" alt="logo" />
                </a>
            </div>
            <div class="nav-toggle d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-menu-area">
                <div class="menu-close text--danger d-lg-none">
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-menu">
                                            <li><a href="/" target="_self">Home</a></li>
                                            <li><a href="/plans" target="_self">Plans</a></li>
                            
                                            <li>
                            <a href="/contact">Contact</a>
                        </li>
                                        <li>
                        <div class="btn__grp ms-lg-3">
                                                            <a href="/dashboard" class="cmn--btn">Dashboard</a>
                            
                                                    </div>
                    </li>
                </ul>
            </div>
            <div class="mode--toggle d-sm-none">
                <i class="fas fa-moon"></i>
            </div>
        </div>
    </div>
</div>    </header>
    <!-- Header -->

    	<!-- Banner -->
	<section class="banner-section bg--gradient overflow-hidden position-relative border-bottom">
		<div class="hero-bg bg_img" data-img="https://golivest.site/assets/images/dZj7lt901717074759.jpg"></div>
		<div class="container">
			<div class="hero-text">
				<h2 class="hero-text-title">Investment Plan</h2>
				<ul class="breadcrumb">
					<li>
						<a href="https://golivest.site">Home</a>
					</li>
					<li>
						Invest Plan					</li>
				</ul>
			</div>
		</div>
		</div>
	</section>
	<!-- Banner -->

    <!-- Investment Plan -->
    <section class="investment-plan-section overflow-hidden bg--gradient-light pb-100 pt-100">
        <div class="container">
            <div class="pricing--wrapper row g-3 g-md-4 g-lg-3 g-xxl-4 justify-content-center">
                                                                            <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="plan__item">
                            <div class="plan__item-header">
                                <div class="left">
                                    <h5 class="title">Initial Plan</h5>
                                    <span>Most Popular</span>
                                </div>
                                <div class="right">
                                    <h5 class="title">2%</h5>
                                    <span>Return</span>
                                </div>
                            </div>
                            <div class="plan__item-body">
                                <ul>
                                    <li>
                                        <span class="name">Profit</span>
                                        <span class="info">
                                            Every Day
                                        </span>
                                    </li>
                                    <li>
                                        <span class="name me-1">Capital will back</span>
                                        <span class="badge align-self-center me-auto bg--primary">Yes</span>
                                    </li>
                                </ul>
                                 
                                    <h6 class="text-center amount-range">$500</h6>
                                                                <button class="cmn--btn w-100 invest-plan" type="button" data-bs-toggle="modal"
                                    data-bs-target="#invest-modal" data-title="Initial Plan" data-id="9" data-type="1" data-fixAmount="500">
                                    Invest Now                                </button>
                            </div>
                        </div>
                    </div>
                                                            <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="plan__item">
                            <div class="plan__item-header">
                                <div class="left">
                                    <h5 class="title">Silver</h5>
                                    <span>Most Popular</span>
                                </div>
                                <div class="right">
                                    <h5 class="title">2.5%</h5>
                                    <span>Return</span>
                                </div>
                            </div>
                            <div class="plan__item-body">
                                <ul>
                                    <li>
                                        <span class="name">Profit</span>
                                        <span class="info">
                                            Every Month
                                        </span>
                                    </li>
                                    <li>
                                        <span class="name me-1">Capital will back</span>
                                        <span class="badge align-self-center me-auto bg--primary">Yes</span>
                                    </li>
                                </ul>
                                                                    <h6 class="text-center amount-range">$500 - $9999</h6>
                                                                <button class="cmn--btn w-100 invest-plan" type="button" data-bs-toggle="modal"
                                    data-bs-target="#invest-modal" data-title="Silver" data-id="8" data-type="0" data-fixAmount="0">
                                    Invest Now                                </button>
                            </div>
                        </div>
                    </div>
                                                            <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="plan__item">
                            <div class="plan__item-header">
                                <div class="left">
                                    <h5 class="title">Golden</h5>
                                    <span>Vip</span>
                                </div>
                                <div class="right">
                                    <h5 class="title">3%</h5>
                                    <span>Return</span>
                                </div>
                            </div>
                            <div class="plan__item-body">
                                <ul>
                                    <li>
                                        <span class="name">Profit</span>
                                        <span class="info">
                                            Every Month
                                        </span>
                                    </li>
                                    <li>
                                        <span class="name me-1">Capital will back</span>
                                        <span class="badge align-self-center me-auto bg--primary">Yes</span>
                                    </li>
                                </ul>
                                 
                                    <h6 class="text-center amount-range">$10000</h6>
                                                                <button class="cmn--btn w-100 invest-plan" type="button" data-bs-toggle="modal"
                                    data-bs-target="#invest-modal" data-title="Golden" data-id="7" data-type="1" data-fixAmount="10000">
                                    Invest Now                                </button>
                            </div>
                        </div>
                    </div>
                                                </div>
        </div>
    </section>
    <!-- Investment Plan -->

    <!-- Choose -->
    <section class="choose-section pt-100 pb-50 border-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-header mb-lg-0">
                    <h6 class="section-header__subtitle">Features</h6>
                    <h2 class="section-header__title">Why Choose US</h2>
                    <p>
                        Deserunt hic consequatur ex placeat! atque repellendus inventore                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="choose-area bg--section border">
                    <div class="choose-inner">
                                                    <div class="choose-item">
                                <div class="choose-thumb">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="choose-content">
                                    <h5 class="choose-content-title">Limitless Investment</h5>
                                    <p>
                                       INVESTING WITHOUT BORDERS. You can invest in our company from anywhere in the world.                                    </p>
                                </div>
                            </div>
                                                    <div class="choose-item">
                                <div class="choose-thumb">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="choose-content">
                                    <h5 class="choose-content-title">Extreme Support</h5>
                                    <p>
                                       Our specialists are available around the clock to help you. Please let us know your questions.                                    </p>
                                </div>
                            </div>
                                                    <div class="choose-item">
                                <div class="choose-thumb">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="choose-content">
                                    <h5 class="choose-content-title">Special Security</h5>
                                    <p>
                                       Your deposits are insured by our Special Trust Fund. Your deposits are safe.                                    </p>
                                </div>
                            </div>
                                                    <div class="choose-item">
                                <div class="choose-thumb">
                                    <i class="fas fa-cog"></i>
                                </div>
                                <div class="choose-content">
                                    <h5 class="choose-content-title">Daily Profit</h5>
                                    <p>
                                       DAILY PROFIT. You can make profit every day with our investment proposals!                                    </p>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>    <!-- Choose -->

    <!-- Payment Gateways -->
    <section class="payment-gateway-section pt-50 pb-100">
    <div class="container">
        <div class="row align-items-center gy-5">
            <div class="col-lg-6">
                <div class="section-header">
                    <h6 class="section-header__subtitle">Brand & Payment Gateway</h6>
                    <h2 class="section-header__title">Our Payment Gateway</h2>
                    <p>
                        we prioritize your security and convenience. Our payment gateway is designed to provide a seamless and secure transaction experience.                    </p>
                </div>
                <div class="brand-slider owl-theme owl-carousel">
                                    </div>
            </div>
            <div class="col-lg-6">
                <div class="payement-gateway-thumb">
                    <img src="https://golivest.site/assets/images/2YHwEVzE1649492380.png" alt="partner">
                </div>
            </div>
        </div>
    </div>
</section>    <!-- Payment Gateways -->


    <!-- Footer -->
    <!-- Footer -->
    <footer class="bg--gradient border-top overflow-hidden position-relative">
        <div class="particle"></div>
        <div class="particle2"></div>
        <div class="particle3"></div>
        <div class="particle4"></div>
        <div class="footer-top py-5">
            <div class="container">
                <div class="footer-wrapper flex-wrap">
                    <div class="footer-logo
                    w-100">
                        <a href="https://golivest.site">
                            <img src="https://golivest.site/assets/images/oJRC5aoJ1717391832.png" alt="logo" />
                        </a>
                    </div>
                    <div class="footer-text">
                        Cutting-edge tools, and insightful analysis to help investors make informed decisions and navigate the complexities of the financial world with confidence.
                    </div>
                    <ul class="footer-link w-100 mw-100 justify-content-center">
                                                    <li>
                                <a href="https://golivest.site/support">Support</a>
                            </li>
                                                    <li>
                                <a href="https://golivest.site/privacy">Privacy &amp; Policy</a>
                            </li>
                                                    <li>
                                <a href="https://golivest.site/about">About Us</a>
                            </li>
                                            </ul>
                    <div class="text--light w-100 mw-100 text-center">
                        COPYRIGHT © 2024. All Rights Reserved By Golivest                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
        <!-- Footer -->

    


    <!-- Invest Modal -->
    <div class="modal fade" id="invest-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="investForm" action="https://golivest.site/user/invest/amount" method="POST">
                    <input type="hidden" name="_token" value="w1h3KD4VzloPPNCv5TQWDDZ1Fe0nCpdXv4pceJNg" autocomplete="off">                    <div class="modal-body p-4">
                        <h4 class="modal-title text-center plan-title">Basic Plan</h4>
                        <div class="pt-3 pb-4">
                            <label for="amount" class="form-label">Enter Amount</label>
                            <div class="input-group input--group">
                                <input type="number" name="amount" class="form-group-input form-control form--control bg--section"
                                    placeholder="0.00" id="modalAmount">
                                <button type="button" class="input-group-text">USD</button>
                            </div>

                            <label for="amount" class="form-label">Select Wallet</label>
                            <div class="input-group input--group">
                                <select name="wallet" id="investMethod" class="form-control" required>
                                    <option value="checkout">checkout</option>
                                    <option value="main_wallet">Main Balance</option>
                                    <option value="interest_wallet">Interest Balance</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="investId" id="investId" value="">
                        <div class="d-flex">
                            <button type="button" class="btn shadow-none btn--danger me-2 w-50"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn shadow-none btn--success w-50">Proceed</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Invest Modal -->

    <script src="https://golivest.site/assets/front/js/jquery-3.6.0.min.js"></script>
    <script src="https://golivest.site/assets/front/js/bootstrap.min.js"></script>
    <script src="https://golivest.site/assets/front/js/viewport.jquery.js"></script>
    <script src="https://golivest.site/assets/front/js/odometer.min.js"></script>
    <script src="https://golivest.site/assets/front/js/lightbox.min.js"></script>
    <script src="https://golivest.site/assets/front/js/owl.min.js"></script>
    <script src="https://golivest.site/assets/front/js/toastr.min.js"></script>
    <script src="https://golivest.site/assets/front/js/notify.js"></script>
    <script src="https://golivest.site/assets/front/js/main.js"></script>
    <script src="https://golivest.site/assets/front/js/custom.js"></script>

    <script>
        'use strict';
		let mainurl = 'https://golivest.site';
        let tawkto = '0';
	</script>


        <script type="text/javascript">
            if(tawkto == 1){
                var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                (function(){
                    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                    s1.async=true;
                    s1.src='https://embed.tawk.to/5bc2019c61d0b77092512d03/default';
                    s1.charset='UTF-8';
                    s1.setAttribute('crossorigin','*');
                    s0.parentNode.insertBefore(s1,s0);
                })();
            }
        </script>


    <script>
        'use strict';

        
        
        
            </script>

    <script>
        'use strict';

        $('.invest-plan').on('click',function(){
            $('#modalAmount').val('');
            $('#modalAmount').prop('readonly',false)

            let id = $(this).data('id');
            let title = $(this).data('title');
            let type = $(this).data('type');

            if(type == 1){
                $('#modalAmount').val($(this).attr('data-fixAmount'));
                $('#modalAmount').prop('readonly',true)
            }
            $('#investId').val(id);
            $('.plan-title').text(title);
        });

        $(document).on('change','#investMethod',function(){
            var val = $(this).val();
            if(val == 'checkout'){
                $('.investForm').prop('action','https://golivest.site/user/invest/amount');
            }

            if(val == 'main_wallet'){
                $('.investForm').prop('action','https://golivest.site/user/invest/main');
            }

            if(val == 'interest_wallet'){
                $('.investForm').prop('action','https://golivest.site/user/invest/interest');
            }
        });

    </script>
    
</body>

</html>
